<!DOCTYPE html>
<html>
<head>
  <title>X</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= include_gon %>
  <%#= include_gon(:namespace => 'MyApp') %>
  <%= include_gon(:init => true) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
